.navbar {
  position: fixed;
  z-index: 99;
  /* border: 1px solid black; */
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  /* justify-content: flex-end; */
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.navbar ul {
  display: flex;
  gap: 50px;
  /* margin-right: 100px; */
  font-size: 20px;
  /* justify-content: flex-end; */
  padding-right: 50px;
  font-weight: bold;
}
.nav-item {
  list-style-type: none;
  cursor: pointer;
}
.nav-item:hover {
  /* border-bottom: 3px solid rgb(103, 161, 120); */
  color: rgb(103, 161, 120);
}
.navbar_burger {
  width: 40px;
  height: 40px;
  border: none;
  color: black;
  background-color: transparent;
}
.navbar img {
  padding-left: 50px;
  cursor: pointer;
}

/** contenu accueil - image */
.content_home {
  padding-top: 10vh;
  width: 100vw;
  height: 90vh;
  /*pour pas que l'image se deforme si on reduit la hauteur*/
  /* min-height: 970px; */
  background-image: url(./assets/mower.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  position: relative;
}

.home_title {
  width: 500px;
  height: 300px;
  position: absolute;
  top: 33%;
  left: 5%;
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  text-align: justify;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
}
button {
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 15px;
  color: black;
  transition: all 0.2s ease-in-out;
}
button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.contact {
  background-color: rgb(103, 161, 120);
}
.infos {
  border: 2px solid rgb(103, 161, 120);
}
/** Nos services*/
.services {
  padding-top: 5vh;
  width: 100vw;
  height: 95vh;
  background-image: url(./assets/pelouse.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.background_icons {
  /* background-color: white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 50vh;
  transform: translateY(-50%);
}
.background_white {
  background-color: white;
  width: 100vw;
  /* height: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  padding: 20px 0;
}
.icones_services {
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: center;
  /* border: 1px solid green; */
  gap: 50px;
}
.content_icons {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.rond_icon {
  border: 5px solid rgb(103, 161, 120);
  padding: 30px;
  border-radius: 50%;
}
.icons img {
  width: 60px;
  height: 60px;
}

/* credit impot*/
.impots {
  padding-top: 10vh;
  width: 100vw;
  height: 90vh;
  background-color: blue;
}

/* gallerie*/
.gallerie {
  padding-top: 10vh;
  width: 100vw;
  height: 90vh;
  background-color: greenyellow;
}

/* contact*/
.form_contact {
  padding-top: 10vh;
  width: 100vw;
  height: 90vh;
  background-color: gray;
}
